<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974947744951-6ntjfceg4r0u59g07met0m5alqqojhpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974947744951-6ntjfceg4r0u59g07met0m5alqqojhpp</string>
	<key>API_KEY</key>
	<string>AIzaSyD3zcysQeid6lyXkwgVVFOZ6bxsAiuzewI</string>
	<key>GCM_SENDER_ID</key>
	<string>974947744951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.percas.hideandseek.hamster.escape</string>
	<key>PROJECT_ID</key>
	<string>hamster-escape-be610</string>
	<key>STORAGE_BUCKET</key>
	<string>hamster-escape-be610.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974947744951:ios:c5d10700b724182e706132</string>
</dict>
</plist>